# CODEOWNERS documentation : https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

* @ContentSquare/tech-lead-qt

# ==============
# Platform stuff
# ==============
# !!! Always keep it on the last lines of the CODEOWNERS file !!!

# .github controls CODEOWNERS and Github actions (not used at the moment)
/.github/ @ContentSquare/devx

# Protect .github/agents folder for GitHub Copilot agents
/.github/agents/ @ContentSquare/tech-lead-qt

# ==============
# Platform stuff
# ==============
